body {
    font-family: Arial;
    background: linear-gradient(to bottom, #0f2027, #203a43);
    color: white;
    text-align: center;
    padding: 20px;
}

.card-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
}

.card {
    background: rgba(255,255,255,0.1);
    padding: 20px;
    border-radius: 15px;
}

button {
    margin: 10px;
    padding: 12px 25px;
    border-radius: 10px;
    border: none;
    font-size: 16px;
}

.chart-container {
    margin-top: 30px;
    background: white;
    border-radius: 20px;
    padding: 20px;
}

.crash {
    color: red;
    font-size: 22px;
}
